a {
    display: inline-block;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-fluid {
    max-width: 100%;
    padding: 0 30px;
}

.title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: $dark-grey-color;
}