.products {
    padding: 120px 112px;
    background-color: #f4f6f5;

    &__title {
        margin-bottom: 60px;
    }

    &__top-btns {
        text-align: center;
        margin-bottom: 60px;

        button+button {
            margin-left: 5px;
        }
    }

    &__top-btn {
        border: none;
        background-color: #fff;
        padding: 13px 21px;
        font-size: 14px;
        font-weight: 500;
        color: $dark-grey-color;
        cursor: pointer;
        
        &.mixitup-control-active {
            background-color: #e74c3c;
            box-shadow: 0px 2px 5px 0px rgba(202,215,228,0.75);
            color:#fff;
        }
    }

    &__box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        margin-bottom: 30px;
    }

    &__bottom-btns {
        text-align: center;
        margin-top: 50px;

        button+button {
            margin-left: 11px;
        }
    }

    &__bottom-btn {
        border: none;
        background-color: #fff;
        padding: 20px 32px;
        font-size: 16px;
        color: $dark-grey-color;
        cursor: pointer;

        &.mixitup-control-active {
            background-color: #e74c3c;
            box-shadow: 0px 2px 5px 0px rgba(202,215,228,0.75);
            color:#fff;
        }
    }


}